[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-argumentative"]
	path = bundle/vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative
[submodule "bundle/vim-workspace"]
	path = bundle/vim-workspace
	url = https://github.com/thaerkh/vim-workspace
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/vim-nginx"]
	path = bundle/vim-nginx
	url = https://github.com/fatih/vim-nginx.git
